{
    "extends": "google",
    "rules": {
        "no-console": "off",
        "linebreak-style": "off",
        "require-jsdoc": 0
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
      }
}